@font-face {
    font-family: "LatoLight";
    src: url('fonts/Lato-Light.ttf');
    src: url('fonts/Lato-Light.woff');
    src: url('fonts/Lato-Light.eot');
    src: url('fonts/Lato-Light.woff2');
}
body {
	font-family: LatoLight;
	margin: 0;
	padding: 0;
	background-image: url('fond.jpg');
	background-size: 100%;
	height: 1000px;
}

.header {
	padding-bottom: 0.5%;
	color: Blue;
}

.menu {
	border-width: 1px;
	padding: 0;
	background-color: Snow;
	text-align: center;
	opacity: 0.7;
	display: inline-block;
	width: 100%;
	position: fixed;
	font-weight: bold;
}
git	color: #C0C0C0;

li.current {
	background: #3ADF00;

}
.header ul li {
	list-style-type: none;
	display: inline-block;


}
.menu ul li {

	font-size: 20px;
	width: 13%;
	text-align: center;
	display: inline-block;
	font: bold;
	height: 20px;


}
.menu ul {
	text-align: right;
	margin-right: 20px;
}
.sous_menu {
	text-align: center;
	position: relative;
	border-width: 1px;
	position: fixed;
	top: 50px;
	right: 10px;
	width: 40%;
	color: LavenderBlush;

}
.sous_menu ul li {

	list-style-type: none;
	display: inline-block;
	width: 25%;
	border: solid;
	border-width: 1px;

}

img#logo {
	height: 40px;

	padding-left: 1%;
	padding-top: 5px;
	float: left;

}
.corps {
	margin-top: 150px;
	width: 70%;
	margin-left: 15%;


}

.corps h1 {
	color: Blue;

}


.corps .form input {
	margin-top: 50px;
	margin-right: 10px;
	border: solid;
	border: 1px;
	border-radius: 2px;
	height: 30px;
	width: 200px;
	opacity: 0.9;
}
.corps .form .button {
	font-size: 17px;
	margin-top: 20px;
	font-family: LatoLight;
	font-weight: bold;
	color: Blue;
}
.corps .form {
	border-top: solid;
	border-width: 1px;
	border-color: Blue;
}

div info_client ,champ_saisie{
  display: inline-block;
  width: 48%;
  margin-top: 20px;
}
div plan{
  align-content: center;
}
