
@font-face {
    font-family: "LatoLight";
    src: url('fonts/Lato-Light.ttf');
    src: url('fonts/Lato-Light.woff');
    src: url('fonts/Lato-Light.eot');
    src: url('fonts/Lato-Light.woff2');
}
body {
	font-family: LatoLight;
	margin: 0;
	padding: 0;
	background-image: url('fond.jpg');
	background-size: 100%;
	height: 1000px;
}
.header {
	padding-bottom: 0.5%;
	color: Blue;
}
.corps .capt {
	margin-top: 4px;
	border: solid;
	border-width: 1px;
	display: inline-block;
	width: 30%;
	padding: 10px;
}
.menu {
	border-width: 1px;
	padding: 0;
	background-color: Snow;
	text-align: center;
	opacity: 0.7;
	display: inline-block;
	width: 100%;
	position: fixed;
	font-weight: bold;
}
li.current {
	background: #3ADF00;

}
.header ul li {
	list-style-type: none;
	display: inline-block;


}
.menu ul li {

	font-size: 20px;
	width: 13%;
	text-align: center;
	display: inline-block;
	font: bold;
	height: 20px;


}

.menu ul {
	text-align: right;
	margin-right: 20px;
}
.sous_menu {
	text-align: center;
	position: relative;
	border-width: 1px;
	position: fixed;
	top: 50px;
	right: 10px;
	width: 40%;
	color: LavenderBlush;

}
.sous_menu ul li {

	list-style-type: none;
	display: inline-block;
	width: 25%;
	border: solid;
	border-width: 1px;

}


img {
	height: 40px;

	padding-left: 1%;
	padding-top: 5px;
	float: left;

}
.corps {
	margin-top: 150px;
	width: 70%;
	margin-left: 15%;


}

.corps h1 {
	color: Blue;

}


.corps .form input {
	margin-top: 50px;
	margin-right: 10px;
	border: solid;
	border: 1px;
	border-radius: 2px;
	height: 30px;
	width: 200px;
	opacity: 0.9;
}
.corps .form .button {
	font-size: 17px;
	margin-top: 20px;
	font-family: LatoLight;
	font-weight: bold;
	color: Blue;
}
.corps .form {
	border-top: solid;
	border-width: 1px;
	border-color: Blue;

}

/*Code CSS du menu déroulant
  On commence par définir la forme de la div
*/
#menu-accordeon {
  padding:0;
  margin:0;
  list-style:none;
  text-align: left;
  width: 100%;
}
/* on définit les action des élément de la première liste */
#menu-accordeon ul {
  padding:0;
  margin:0;
  list-style:none;
  text-align: left;
}
#menu-accordeon li {
   background-color:#729EBF;
   background-image:-webkit-linear-gradient(top, #729EBF 0%, #333A40 100%);
   background-image: linear-gradient(to bottom, #729EBF 0%, #333A40 100%);
   border-radius: 6px;
   margin-bottom:2px;
   box-shadow: 3px 3px 3px #999;
   border:solid 1px #333A40;
}
#menu-accordeon li li {
   max-height:0;
   overflow: hidden;
   transition: all .5s;
   border-radius:0;
   background: #444;
   box-shadow: none;
   border:none;
   margin:0;
}
#menu-accordeon a {
  display:block;
  text-decoration: none;
  color: #fff;
  padding: 8px 0;
  font-family: verdana;
  font-size:1.2em;
}
#menu-accordeon ul li a, #menu-accordeon li:hover li a{
  font-size:1em;
}
#menu-accordeon li:hover {
   background: #729EBF;
}
#menu-accordeon li li:hover {
   background: #999;
}
#menu-accordeon ul li:last-child {
   border-radius: 0 0 6px 6px;
   border:none;
}
#menu-accordeon li:hover li {
  max-height: 15em;
}
=======
@font-face {
    font-family: "LatoLight";
    src: url('fonts/Lato-Light.ttf');
    src: url('fonts/Lato-Light.woff');
    src: url('fonts/Lato-Light.eot');
    src: url('fonts/Lato-Light.woff2');
}
body {
	font-family: LatoLight;
	margin: 0;
	padding: 0;
	background-image: url('fond.jpg');
	background-size: 100%;
	height: 1000px;
}

.header {
	padding-bottom: 0.5%;
	color: Blue;
}

.menu {
	border-width: 1px;
	padding: 0;
	background-color: Snow;
	text-align: center;
	opacity: 0.7;
	display: inline-block;
	width: 100%;
	position: fixed;
	font-weight: bold;
}
git	color: #C0C0C0;

li.current {
	background: #3ADF00;

}
.header ul li {
	list-style-type: none;
	display: inline-block;


}
.menu ul li {

	font-size: 20px;
	width: 13%;
	text-align: center;
	display: inline-block;
	font: bold;
	height: 20px;


}
.menu ul {
	text-align: right;
	margin-right: 20px;
}
.sous_menu {
	text-align: center;
	position: relative;
	border-width: 1px;
	position: fixed;
	top: 50px;
	right: 10px;
	width: 40%;
	color: LavenderBlush;

}
.sous_menu ul li {

	list-style-type: none;
	display: inline-block;
	width: 25%;
	border: solid;
	border-width: 1px;

}

img {
	height: 40px;

	padding-left: 1%;
	padding-top: 5px;
	float: left;

}
.corps {
	margin-top: 150px;
	width: 70%;
	margin-left: 15%;


}

.corps h1 {
	color: Blue;

}


.corps .form input {
	margin-top: 50px;
	margin-right: 10px;
	border: solid;
	border: 1px;
	border-radius: 2px;
	height: 30px;
	width: 200px;
	opacity: 0.9;
}
.corps .form .button {
	font-size: 17px;
	margin-top: 20px;
	font-family: LatoLight;
	font-weight: bold;
	color: Blue;
}
.corps .form {
	border-top: solid;
	border-width: 1px;
	border-color: Blue;
}

#plangooglemap{
  width: 60%;
  height: auto;
  align-items: center;
} /*sa marche pas*/
