/*LE FOOTER*/

.footer{
  align-items : center;
  position: relative;
  text-align: center;
  border-width: 1px;
  background-color: Blue ;
  width: 100%;
  height: 100px;
  bottom : 0;
  /*J'arrive pas a modifier la couleur des textes
   du footer et
   */
  color:#ffffff;


}

.footer_2  li{
  display: inline-block;
  list-style: none;
  padding-top: 12px;
  width:  32%;
  height: 10px;
  text-decoration: none;
}
/*on enleve ici les soulignements des liens*/
a:link{
  text-decoration: none;
}
a:hover{
  color:#FF33CC;
}

.mention_legal li {
    display: inline-block;
    list-style: none;
    width:  40%;
    height: 10px;
}

/*La page contact*/
#plan{
  display: block;


}
#champ_saisie {
  display: inline-block;
  width: 40%;
  border: 2px;
}
