/*LE FOOTER*/

.footer{
  position: relative;
  text-align: center;
  border-width: 1px;
  background-color: #0072BB ;
  width: 100%;
  height: 100px;
  bottom : 0;
  color:#ffffff;
  padding-top: 15px;

}
/*on enleve ici les soulignements des liens*/
.footer li a:link, .footer li a:visited{
  color:#ffffff;
}

.footer li {
    list-style: none;
    display: inline-block;
    width:  30%;
}

/*La page contact*/
#plan{
  display: block;
}
#champ_saisie {
  display: inline-block;
  width: 40%;
  border: 2px;
}
